@model CourseManagement.Models.AddCourse
@{

}
<h1>Add Courses</h1>
<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
   
     <div class="mb-3">
    <label for="" class="form-label">Category</label>
    <input type="text" class="form-control" asp-for="Category">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Cost</label>
        <input type="int" class="form-control" asp-for="Cost">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
